*{
    margin: 1;
    padding: 1;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right top, #d16ba5, #df7498, #e87f8e, #eb8d86, #eb9c83, #e8a97e, #e1b77d, #d7c583, #c2d58e, #a7e4a6, #85f1c8, #5ffbf1); 
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}
.shadow{
    filter: blur(8px);
}

.btn{
    
    height: 70px;
    width: 70px;
    padding-top: 10px;
    border-radius: 100%;
    background-color: #5ffbf1;
}
.btn1{
    font-size: 50px;
}

header{
     display: flex;
    justify-content: space-between;
}
nav{
    display: flex
}
.list{
    display: flex;
}
.list1{
    margin-top: 8px;
    padding-left: 5px;
}
section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
    margin-left: 80px;
    margin-top: 20px;
    color: brown;
}
#Input, #InputText{
    height: 30px;
    width: 60%;
    border-radius: 20px;
    background-image: linear-gradient(to right top, #6bd16b, #70d571, #75d977, #7add7c, #7fe182, #7fe582, #80e881, #80ec81, #7bf079, #76f471, #72f769, #6dfb5f);
}
::placeholder{
    text-align: center;
    color: magenta;

}
.addlist{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: blueviolet;
    height: 150px;
    width: 300px;
    border-radius: 20px;
    text-align: center;
    background-image: linear-gradient(to right top, #d16ba5, #ee7386, #f58966, #e8a651, #c9c454, #b1d468, #95e284, #73eea6, #67f2bb, #5ef6ce, #5bf9e1, #5ffbf1);
}
.addItem{
    display: none;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: blueviolet;
    height: 150px;
    width: 300px;
    border-radius: 20px;
    text-align: center;
    background-image: linear-gradient(to right top, #d16ba5, #ee7386, #f58966, #e8a651, #c9c454, #b1d468, #95e284, #73eea6, #67f2bb, #5ef6ce, #5bf9e1, #5ffbf1);

   

}
.btnchange, .btnchange2{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    
}
.Addbtn, .Deletebtn, .ItemBtn, .Deletebtn2{
    height: 40px;
    width: 40px;
    border-radius: 15px;
}

.box{
    
    height: 300px;
    width: 250px;
    border-radius: 15px;
    border: 3px solid yellow;
    text-transform: capitalize;
    text-align: center;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    /* overflow: scroll; */
    overflow-x: hidden;
    /*  */
    background-image: linear-gradient(to right top, #6b70d1, #5786de, #4b9be5, #4eade8, #61bee8, #61c9ea, #66d3eb, #6fddeb, #5fe5e9, #53ede3, #53f5d9, #5ffbcb);
}
.upparbar{
    display: none;
}
.back{
    font-size: 40px;

}
.Text{
    text-align: center;
    margin:auto;
    width:50%;
    text-transform: capitalize;
    font-size: 50px;

}
 .delete{
    height: 60px;
    width: 70px;
    border-radius: 15px;
    background-color: royalblue;
    /* margin-top: 150px;
    margin-left: 160px; */

}
.addBtnclass{
    
    /* margin-right: 50px; */
    height: 60px;
    width: 70px;
    border-radius: 15px;
    background-color: royalblue;
}
.parentcard{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    /* background-color: #e1b77d; */
    height: 60px;
    width: 245px;

}

.tododiv{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    height: 40px;
    width: 100%;
    gap: 5px;
    color: black;
    background-color: rgba(255, 255, 255, 0.689);
    /* scroll-margin-bottom: 100px; */
}

.rowtext{
    font-size: 30px;
    color: red;
    height: 45px;
    width: 100px;
    text-transform: capitalize;
    /* overflow-wrap: break-word; */
    word-wrap: normal;
    overflow-y: scroll;
    /* -ms-overflow-style: none; */
    
    }
    ::-webkit-scrollbar {
        display: none;
      }
      
    /* overflow-y: hidden; */
     
/* } */
.markdown{
    font-size: 30px;
    color: yellow;
    background-color: #53ede3;
    height: 40px;
    width: 100px;
    border-radius: 10px;
}
.linethrough{
    text-decoration: line-through;
}
